<div class="container">
    <div class="card-header">
        <h3 style="text-align: center">GESTIONAR PRESTAMOS</h3>
    </div>
</div>
<!--TABLA-->
<div class="table-responsive">
    <div class="card">
        <div class="card-header">
            <div class="card-body">
                <button mat-button (click)="openDialog()" type="button" class="btn btn-outline-primary btn-sm">Solicitar
                    producto</button>
                <table class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Fecha</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Producto</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let venta of datosVentas">
                            <td>{{venta.fecha}}</td>
                            <td>{{venta.idcliente}}</td>
                            <td>{{venta.idproducto}}</td>
                            <td>{{venta.cantidad}}</td>
                            <td>{{venta.total}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--FORMULARIO MODAL-->
<h1 mat-dialog-title>Dialog with elements</h1>
<div mat-dialog-content>This dialog showcases the title, close, content and actions elements.</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
</div>