<mat-card>
    <mat-card-content>
        <form class="form-group row" #miFormulario="ngForm" (ngSubmit)="login(miFormulario)">
            <h2>Log In</h2>
            <mat-form-field>
                <input matInput placeholder="User" name="user" ngModel>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="Password" name="password" ngModel>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">Login</button>
        </form>
    </mat-card-content>
</mat-card>